body {
    font-family: 'Copperplate Gothic Bold', cursive;
    background-image: url("pics/bckgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: blueviolet;
    font-size: 47px;

}

