body {
    font-family: 'fantasy Bold', cursive;
    background-image: url("pics/bckgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e28d37;
    color: #e28d37;
    font-size: 28px;
    font - center;

}

