div {
    width: 100px;
    height: 100px;
    border: 10px solid red;
    margin: 10px;
    border-radius: 50%;
    background-color: blueviolet;
    display: inline-block;
    border-width: 10px;


}